body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

.galaxy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('galaxybg.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: moveGalaxy 30s linear infinite; /* Adjust duration and animation type */
}

@keyframes moveGalaxy {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(-50%, -50%); /* Adjust this for your preferred movement */
    }
}
